<!DOCTYPE html>
<head>
    <title>Energenius</title>
    <link rel="stylesheet" href="Static/living.css">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="dashboard">
    <header>
        <div class="f fe">
        <div class="icon icon-w"></div>
        <div class="heading">
            <nav>
                <label for="touch"><span class="account">parter</span class="account"></label>               
                <input type="checkbox" id="touch"> 

                <ul class="slide">
                    <li><a href="/E1L">Apartament 1</a></li> 
                    <li><a href="/E2L">Apartament 2</a></li>


                  </ul>
            </nav>
            <h2 class="title">Cloudy</h2>
        </div>
        </div>
        
        <div class="weather f">
        <div>
            <strong>26°<sup>C</sup></strong>
            <p>Indoor Temp.</p>
        </div>
        <div>
            <strong>48.2%</strong>
            <p>Outdoor Humidity</p>
        </div>
        <div>
            <strong>52.99</strong>
            <p>Indoor Temp.</p>
        </div>
        </div>
    </header>
    <section>
    <!-- Category -->
        <div class="category">
        <ul>
            <li><a href="#!" class="active">Living Room</a></li>

        </ul>
        </div>
    <!-- Appliances -->
    <form>
        <div class="appliances">
            <script>
                function handleChange() {
                    var myCheckbox = document.getElementById("a");
                    if (document.getElementById("a").checked) {
                        history.pushState(null, null, "/P");
                        myCheckbox.setAttribute("checked", "checked");
                        localStorage.setItem("aChecked", "true");
                        
                    } else {
                        history.pushState(null, null, "/p");
                        myCheckbox.removeAttribute("checked");
                        localStorage.setItem("aChecked", "false");
                    }
                    
                    
                }
                    window.onload = function() {
                    var aChecked = localStorage.getItem("aChecked");
                    if (aChecked === "true") {
                        document.getElementById("a").setAttribute("checked", "checked");
                    }
                }
            </script>

            
        <div class="appliance">
            <input type="checkbox" name="a" id="a"  onchange="handleChange(); location.reload();"  >
            <label for="a">
            <i class="l"></i>
            <strong>Lamp</strong>
            <span data-o="opened" data-c="closed"></span>
            <small></small>
            </label>
        </div>
        

    </form>
    </section>
    </div>
</body>
